.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    max-width: 200px;
    text-align: center;
}

#cart {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 250px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 15px;
}