footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: darkgrey;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer h3 {
  margin-top: 0;
}

footer a {
  color: #f5a623;
}