header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: darkgrey;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

nav ul {
  display: flex;
  gap: 15px;
}

.cart i {
  font-size: 24px;
}